
*.class
*.xml
*.xml
TP-GRUAU-Collection/.idea/misc.xml
TP-GRUAU-Polymorpphim/TP-GRUAU-Polymorphim.iml
*.class
*.class
TP-GRUAU-Collection/out/production/TP-GRUAU-Collection/main.java.operator.BinaryOperator.class
